@page
@using dotnetcore21_spa.Pages
@model IndexModel

<h2>Hello from Razor Pages!</h2>
<p>
    @Model.Message
</p>
<br/>
The MVC home page is here:
<a href="/Home">Home</a>
<br/>
<br/>
The Aurelia App is here:
<a href="/app/">/app/</a>